
<style>
.grid-container {
  display: grid;
  grid-template-columns: 1;

 }
 .grid-item {
 	border: 1px solid rgba(0, 0, 0, 0.8);
 }
 </style>
<div class=".grid-container">
	<div class=".grid-item">

		<video width="320" height="240" muted controls>
	  		<source type="video/mp4" src="/Research_Blog/assets/videos/Recording2-2020-07-08.mp4"/>
		</video>

	</div>
	<div class=".grid-item">
		
		<video width="320" height="240" preload muted controls>
	  		<source type="video/mp4" src="/Research_Blog/assets/videos/Recording1-2020-07-08.mp4" >
		</video>

	</div>
</div>
