
<style>
.grid-container {
  display: grid;
  grid-template-columns: 1;

 }
 .grid-item {
 	border: 1px solid rgba(0, 0, 0, 0.8);
 }
 </style>
<div class=".grid-container">
	<div class=".grid-item">
		<video width="320" height="240" controls>
	  		<source src="videoprogress1_first_scripts.mov" type="video/mpv"/>
		</video>

	</div>
	<div class=".grid-item">
		<video width="320" height="240" preload controls>
	  		<source src="videoprogress2_first_scripts.mov" type="video/mpv"/>
		</video>

	</div>
</div>