
<style>
.grid-container {
  display: grid;
  grid-template-columns: 1;

 }
 .grid-item {
 	border: 1px solid rgba(0, 0, 0, 0.8);
 }
 </style>
<div class=".grid-container">
	<div class=".grid-item">
		<p>Moving tords exit</p>
		<video width="320" height="240" muted autoplay controls>
	  		<source type="video/mp4" src="/Resurch_Blog/assets/videos/videoprogress1_first_scripts.mp4"/>
		</video>

	</div>
	<div class=".grid-item">
		<p>Moving away from shooter</p>
		<video width="320" height="240" preload muted autoplay controls>
	  		<source type="video/mp4" src="/Resurch_Blog/assets/videos/videoprogress2_first_scripts.mp4" >
		</video>

	</div>
</div>

